html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* предотвратить прокрутку */
}

.rectangle {
    position: absolute;
    width: 45vw;
    /* 45% от ширины окна */
    height: 45vw;
    /* 45% от ширины окна, для соблюдения пропорций */
    background-color: rgba(255, 0, 0, 0.5);
    /* прозрачность для визуального различия */
}

#top-left {
    top: 0;
    left: 0;
}

#top-right {
    top: 0;
    right: 0;
}

#bottom-left {
    bottom: 0;
    left: 0;
}

#bottom-right {
    bottom: 0;
    right: 0;
}

#center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}